body {
  color: #333333;
  background-color: #f4f4f4;
  text-align: justify;

}
h2 {
    margin: 1.5;
    padding-top: 2px;
    border: 3px;
  color: rgb(14, 14, 78);
  text-align: center;

}
footer{
    padding-top: 2px 2px;
    border: 3px 3px;
    margin: 3px 3px;
    background-color: rgb(9, 114, 114);
color:rgb(1, 27, 3);
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
}

header{
    background-color: rgb(9, 114, 114);
}
